# belt grip is a pair of semicylinders
# one with 'tracks' to engage the teeth of the belt
# and a base to engage with the tensioner holder.
# both halves have holes for 3mm bolts to bolt it against the belt

# length of the belt that will be engaged
griplength = 19.0
# depth of the semicylinders
gripdepth = 9.0
# radius of the semicylinders (needs to be significantly more than beltwidth)
gripradius = 12.5
# G2 belt width is 10.0mm
beltwidth = 10.0
# how much plastic (mm) should be under the m3 bolt head/nut
boltgrip = 2.5


# mounting to the corner bracket will be what size bolts
mount_bolt_size = 4
# what is the horizontal spacing between bolt holes
mount_bolt_horizontal_spacing = 40
mount_bolt_vertical_spacing = 30